*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
}

.title {
    border: 1px solid red;
}

#languageChoice {
    border: 1px solid hotpink;
}

#container {
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 100vh;
}

#sidebar {
    border: 1px solid blue;
}

.project-item.active {
    border: 1px solid brown;    
}

#user-projects-section {
    border: 1px solid pink;
}

#project-section {
    border: 1px solid teal;
}

#task-section {
    border: 1px solid green;
}

.my-project-tasks {
    /* padding: 2em; */
    margin: 2em;
}

textarea {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    height: 1.4em;
    resize: none;
    border: 1px solid blue;
    outline: none;
    overflow: auto;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:checked + label > * {
    /* border: 1px solid violet; */
    text-decoration: line-through;
    color: gray;
}
