*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
}

.title {
    border: 1px solid red;
}

#languageChoice {
    border: 1px solid hotpink;
}

#container {
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#sidebar {
    border: 1px solid blue;
}

#user-input-section {
    border: 1px solid pink;
}

#project-section {
    border: 1px solid teal;
}

#task-section {
    border: 1px solid green;
}

