:root {
    --fontsize-1: 1rem;
    --fontsize-2: 1.618rem;
    --fontsize-3: 2.618rem;
    --fontsize-4: 4.236rem;
    --fontsize-5: 6.854rem;
    --fontsize-small: 0.618rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    color: white;
    min-height: 100vh;
    background-color: rgb(37, 37, 37);
}

/* Delete the following when not needed */
.content-container {
    display: flex;
    background-color: red;
}

#sidebar {
    background-color: lightblue;
}

#to-do-section {
    background-color: yellowgreen;
}


